.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
pnpm-lock.yaml
vsc-extension-quickstart.md
generated.jsonl
DOCS/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
**/.env
server/
node_modules/**
out/test/**
out/webview/**