.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
**/.env
server/
node_modules/**
out/lib/**
out/sidebar/**
out/test/**
out/webview/**